statemachine/update_all_prices.asl.json
{
    "Comment": "A state machine that updates prices.",
    "StartAt": "Get Assets",
    "States": {
        "Get Assets": {
            "Type": "Task",
            "Resource": "${GetAssetsFunctionArn}",
            "Next": "Update Prices Map"
        },
        "Update Prices Map": {
            "Type": "Map",
            "ItemsPath": "$.assets",
            "MaxConcurrency": 10,
            "ToleratedFailureCount": 10,
            "Iterator": {
                "StartAt": "Update Prices",
                "States": {
                    "Update Prices": {
                        "Type": "Task",
                        "Resource": "${UpdatePricesFunctionArn}",
                        "Retry": [
                            {
                                "ErrorEquals": ["States.ALL"],
                                "IntervalSeconds": 60,
                                "MaxAttempts": 5,
                                "BackoffRate": 2
                            }
                        ],
                        "Catch": [
                            {
                                "ErrorEquals": ["States.ALL"],
                                "ResultPath": "$.errorInfo",
                                "Next": "Proceed After Failure"
                            }
                        ],
                        "End": true
                    },
                    "Proceed After Failure": {
                        "Type": "Pass",
                        "End": true
                    }
                }
            },
            "Next": "Update Returns Monthly"
        },
        "Update Returns Monthly": {
            "Type": "Task",
            "Resource": "${UpdateReturnsMonthlyFunctionArn}",
            "End": true
        }
    }
}